@import '_config.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
}


button {
    background:var(--button);
    padding: var(--space-s);
    border-radius: var(--radius-l);
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: var(--font-button);
    color: var(--black);
    
}

.button {
    background:var(--button);
    padding: var(--space-s);
    border-radius: var(--radius-l);
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: var(--font-button);
    text-decoration: none;
    color: var(--black);
    
}



/* CLASS */
.container{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

    background: linear-gradient(to bottom, #ebecf2, #adb7d8);

}

.navbar{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-l);
}

.main{
    height: 90%;
    display: flex;
    flex-direction: row;

    align-items: stretch;
    justify-content: stretch;

    width: 100%;
    gap:var(--space-l);
    padding-left: var(--space-l);
    padding-right: var(--space-l);
    padding-bottom: var(--space-l);
}








